<nav class="navbar navbar-expand-lg bg-success"data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('views_bp.index') }}">WELLITAS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div >
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('pets_bp.pets') }}">Mascotas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active">Extras</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page">Galeria</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('views_bp.index') }}">inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('views_bp.users') }}">usuarios</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>