{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-3">
        <form method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            {{ form.name_pet.label }}
            {{ form.name_pet(class_='form-control') }}
            {{ form.race.label }}
            {{ form.race(class_='form-control') }}
            {{ form.birthdate.label }}
            {{ form.birthdate(class_='form-control') }}
            {{ form.user_id.label }}
            {{ form.user_id(class_='form-control') }}
        
            {{ form.submit(class_='btn btn-primary mt-2') }}
        </form>
    </div>
</div>
{% endblock %}