{% extends "base.html" %}

{% block content %}
<form action="{{ url_for('pets_bp.pets') }}" method="post">
  <label for="search">Buscar:</label>
  <input type="text" name="search" id="search">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <input type="submit" value="Buscar">
</form>

<form action="{{ url_for('pets_bp.pets') }}" method="post">
  <label for="sort_by">Ordenar por:</label>
  <select name="sort_by" id="sort_by">
    <option value="birthdate">Fecha de Nacimiento</option>
    <option value="name_pet">Nombre</option>
    <option value="race">Raza</option>
    <option value="username">Nombre del Propietario</option>
  </select>
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <input type="submit" value="Ordenar">
</form>

<h3>PETS</h3>
<div style="display: flex; flex-wrap: wrap; align-items: center; justify-content: center;">
{% for pet in pets %}
  <div class="card" style="width: 200px; display: inline-block; margin: 20px;">
      <div class="card-body">
        <h5 class="card-title">{{ pet.name_pet }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ pet.race }}  -  {{ pet.user.username }}</h6>
        <p class="card-text">{{ pet.birthdate }}</p>
      </div>
  </div>
{% endfor %}
</div>
{% endblock %}